@import url("https://api.plan.quicks.ai/api/mf/out.css?pathname=https%3A%2F%2Fplan.quicks.ai%2Fonboarding-delta%2F9ff0d52c-199f-4bd8-99f0-e01f472951eb");
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
	box-sizing: border-box;
}

.link {
	color: blue;
	text-decoration: underline;
}
